{% extends base-front.html.twig %}

{% blcok title %} Paiement échoué !{% endblock %}

    {{ parent() }}
<body>
<section>
    <p>
        Veuillez réessayer !

    </p>
</section>
</body>

{% endblock %}