{% extends 'base-front.html.twig' %}

{% block title %} Paiement échoué !{% endblock %}
{% block body %}

    {{ parent() }}
<body>
<section>
    <p>
        Veuillez réessayer !

    </p>
</section>
</body>

{% endblock %}