{% extends base-front.html.twig %}

{% blcok title %}Successful payment{% endblock %}

    {{ parent() }}
<body>
<section>
    <p>
        Nous vous remercions de votre confiance ! Si vous avez des questions, n'hésitez pas à nous contacter.

    </p>
</section>
</body>

{% endblock %}