<div class="card-header">
    {{ HEADER }}
</div>
<div class="card text-center">
    <div class="card-body">
        <p class="card-text">{{ texte }}</p>
        <a href="#" class="btn btn-primary {{ buttonClass }}"> {{ button text }}</a>
    </div>
</div>