{% extends 'base-front.html.twig' %}

{% block title %}Edit Paiement{% endblock %}

{% block body %}
    <div class="container mt-4 my-5">
        <div class="row">
            <div class="col-xl-4">
                {% include 'user/_card.html.twig'
                with{
                    'header': 'Succes',
                    'text': 'Paiement effectué avec succes !',
                    'buttnClass': 'safeDepositBoxBtn',
                    'buttonText': 'Retour',
                }
                %}
                {% include 'user/_card.html.twig'
                    with{
                    'header': 'Succes',
                    'text': 'Paiement effectué avec succes !',
                    'buttnClass': 'safeDepositBoxBtn',
                    'buttonText': 'Retour',
                }
                %}
                {% include 'user/_card.html.twig'
                    with{
                    'header': 'Succes',
                    'text': 'Paiement effectué avec succes !',
                    'buttnClass': 'safeDepositBoxBtn',
                    'buttonText': 'Retour',
                }
                %}
                {% include 'user/_card.html.twig'
                    with{
                    'header': 'Succes',
                    'text': 'Paiement effectué avec succes !',
                    'buttnClass': 'safeDepositBoxBtn',
                    'buttonText': 'Retour',
                }
                %}
                {% include 'user/_card.html.twig'
                    with{
                    'header': 'Succes',
                    'text': 'Paiement effectué avec succes !',
                    'buttnClass': 'safeDepositBoxBtn',
                    'buttonText': 'Retour',
                }
                %}


            </div>
        </div>
    </div>

{% endblock %}
